.main-container {
    background-color: #738d5d;
    min-height: 100vh;
    border-radius: 25px;
    margin: 4%;
    /* display: flex;
    flex-direction: column; */
}

.landing-splitter {
    /* background-color: #000; */
    display: grid;
    gap: 10px;
    grid-template-columns: 1.5fr 1fr;
    height: auto;
    /* min-height: 32em; */
    /* padding: 2%; */
    margin: 1%;
}

.landing-first-part {
    padding-left: 2rem;
}

.name-section {
    font-size: 5rem;
}

.name {
    font-weight: 900;
}

.greeting {
    font-size: 3rem;
}

.wave {
    animation-name: wave-animation;
    animation-duration: 2.1s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(14deg);
    }

    20% {
        transform: rotate(-8deg);
    }

    30% {
        transform: rotate(14deg);
    }

    40% {
        transform: rotate(-4deg);
    }

    50% {
        transform: rotate(10deg);
    }

    60% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.short-desc {
    height: min-content;
    width: 50%;
    font-size: large;
    font-stretch: extra-expanded;
    margin-top: 20px;
    font-weight: 400;
}

.about{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 2rem 2rem;
    gap: 50px;
}

.about-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 0.75rem 0.5rem; */
    font-size: x-large;
    font-weight: 400;
}

.about-card h1{
    font-size: 3rem;
    font-weight: 900;
}

.about-second-part{
    display: flex;
    justify-content: center;
    /* margin: 2rem; */
}

.about-activity{
    list-style: none;
}


@media (max-width: 767px) {

    .landing-splitter {
        grid-template-columns: 1fr;
        height: auto;
    }

    .landing-first-part {
        padding-left: 1rem;
    }

    .landing-second-part {
        display: flex;
        justify-content: center;
    }

    .name-section {
        font-size: 3rem;
    }

    .greeting {
        font-size: 2rem;
    }

    .short-desc {
        width: 100%;
    }

    .about{
        display: grid;
        grid-template-columns: 1fr;
    }
    .about-card{
        order: -1;
    }
}


@media (min-width: 768px) and (max-width: 1024px) {
    .landing-splitter {
        grid-template-columns: 1fr;
    }

    .landing-first-part {
        display: flex;
        flex-direction: column;
    }

    .short-desc {
        width: 100%;
        margin-bottom: 20px;
    }

    .landing-image {
        width: 100%;
        height: auto;
        margin-top: 20px;
    }
    .about{
        display: grid;
        grid-template-columns: 1fr;
    }
    .about-card{
        order: -1;
    }
}